@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0066ff;
  --secondary-color: #ff6600;
}

body {
  /* font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal; */
  /* @apply bg-white text-gray-900; */
  font-family: "Playpen Sans Arabic", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.rtl {
  direction: rtl;
}

@layer components {
  .btn-primary {
    @apply bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-lg transition-all duration-300 transform hover:scale-105;
  }

  .btn-secondary {
    @apply bg-orange-500 hover:bg-orange-600 text-white font-medium py-2 px-4 rounded-lg transition-all duration-300 transform hover:scale-105;
  }

  .card {
    @apply bg-white rounded-xl shadow-md overflow-hidden transition-all duration-300 hover:shadow-lg;
  }

  .input-search {
    @apply w-full px-4 py-2 rounded-full border border-gray-300 focus:outline-none focus:ring-2 ;
  }
}

/* Animation classes */
.fade-in {
  animation: fadeIn 0.5s ease-in;
}

.slide-up {
  animation: slideUp 0.3s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

